archieve/
.env
.ariana/
.ariana.json
.jupyter/
.vault_secret_key
.traces/
__pycache__/
h2o/
mlruns/
context/
catboost_info/
logs/
ray_results/
models/base/backup/
models/saved/
results/
data/archive/
models/archieve/
models/automl_ensemble_hypertuning/
data/Create_data/pipeline/
data/Create_data/create_excels/
data/Create_data/predictors/
data/Create_data/scraping/
wandb/
Temp/
Prospector/
log/

evaluation/confidence_evaluator.py
evaluation/evaluator.py
features/feature_validation.py
features/feature_engineering.py
features/feature_engineering_prediction.py
dependency_checker.py
data/data_validator.py
.cursorignore
.cursorrules.json
.cursorrules
cmd_prompts.txt
create_project_structure.sh
meta-learner_enhancement.txt
mlflow.db
plan.txt
predict_45over.py
project_description.txt
project_plan.txt
xgboost_analysis.json
artifacts/feature_importance.json
xgboost_model_analysis.json
artifacts/top_20_features.txt
artifacts/
config/context_config.yaml
config/experiment_config.yaml
config/feature_config.yaml
config/data_processing_config.yaml
data/training_data_old.csv
data/training_data_20250105.xlsx
data/training_data_202501.xlsx
data/cache/raw_data.parquet
data/prediction/
data/prediction_raw/model_data_prediction_newPoisson.xlsx
data/raw/model_data_training_withPoisson.xlsx
evaluation/metrics.py
features/feature_engineering_base.py
models/base_model.py
models/bayesian_predictor.py
models/draw_specialist_ensemble.py
models/hme_model.py
models/hyperparameter_tuning.py
models/meta_ensemble.py
models/model_pipeline.py
models/platt_scaler.py
models/pnn_model.py
.vscode/settings.json
wandb/debug-cli.szita.log
data/prediction/
data/Create_data/data/
data/Create_data/data_files/
data/Create_data/mongo/
data/Create_data/models/
data/Create_data/PowerBI/
data/training_data.csv
data/training_data.xlsx
X_train.parquet
model_info.json
cumsum_away_api.xlsx
cumsum_home_api.xlsx
fixtures_with_stats.xlsx
fixtures_with_stats_old.xlsx
data/training_data_20250116.xlsx
model_global/soccer_draw_model_pycaret.pkl.pkl
soccer_draw_model_pycaret.pkl
logs.log
.cursorrules_old
data/Create_data/PowerBI_pbix/
data/api_data_training_final.xlsx
data/api_training_final_.xlsx
data/api_training_final másolata.xlsx
data/api_training_final.xlsx
data/api_training_final.parquet
models/StackedEnsemble/base/tree_based/archive/
python_tests/
