archieve/
__pycache__/
mlruns/
context/
catboost_info/
logs/
ray_results/
models/base/backup/
models/saved/
results/
models/hyperparameter_tuning/ray_results/
data/Create_data/pipeline/models/
data/raw/model_data_training_newPoisson.xlsx
data/raw/preprocessed_data.parquet
data/processed/metadata/
data/processed/versions/
data/add_columns.py
data/model_data_training_newPoisson.xlsx
evaluation/confidence_evaluator.py
evaluation/evaluator.py
features/feature_validation.py
features/feature_engineering.py
features/feature_engineering_prediction.py
models/base/backup/catboost_model.py
models/base/backup/tabnet_model.py
models/base/backup/transformer_model.py
models/base/backup/xgboost_model.py
models/base/xgboost_model_by_season.py
models/embeddings/sequence_models.py
models/test_models/catboost_model_model
models/test_models/catboost_model_state.json
models/test_models/xgboost_model
models/test_models/xgboost_model_model.json
models/test_models/xgboost_model_state.json
utils/feature_selector.py
utils/categorical_processor.py
dependency_checker.py
data/data_validator.py
.cursorignore
.cursorrules.json
.cursorrules
cmd_prompts.txt
create_project_structure.sh
meta-learner_enhancement.txt
mlflow.db
plan.txt
predict_45over.py
project_description.txt
project_plan.txt
xgboost_analysis.json
artifacts/feature_importance.json
xgboost_model_analysis.json
artifacts/top_20_features.txt
artifacts/
config/context_config.yaml
config/experiment_config.yaml
config/feature_config.yaml
config/data_processing_config.yaml
data/training_data_old.csv
data/training_data_20250105.xlsx
data/training_data_202501.xlsx
data/cache/raw_data.parquet
data/prediction/prediction_data_2025_01_06.csv
data/prediction/prediction_data_20250105.csv
data/prediction/prediction_data_20250108.csv
data/prediction/prediction_data_old.csv
data/prediction/predictions_catboost_20250102.xlsx
data/prediction/predictions_catboost_20250103.xlsx
data/prediction/predictions_catboost.csv
data/prediction/predictions_eval_old.xlsx
data/prediction/predictions_output.csv
data/prediction/predictions_xgboost_20241226.xlsx
data/prediction/predictions_xgboost_20241229_2.xlsx
data/prediction/predictions_xgboost_20250103.xlsx
data/prediction/predictions_xgboost_20241229.xlsx
data/prediction/predictions_xgboost_20250106.xlsx
data/prediction/predictions_xgboost_20250102.xlsx
data/prediction/predictions_xgboost_20241227.xlsx
data/prediction/predictions_xgboost_20250105.xlsx
data/prediction/predictions_xgboost_20250107.xlsx
data/prediction_raw/model_data_prediction_newPoisson.xlsx
data/raw/model_data_training_withPoisson.xlsx
evaluation/metrics.py
features/feature_engineering_base.py
models/base_model.py
models/bayesian_predictor.py
models/draw_specialist_ensemble.py
models/hme_model.py
models/hyperparameter_tuning.py
models/meta_ensemble.py
models/model_pipeline.py
models/platt_scaler.py
models/pnn_model.py
.vscode/settings.json
wandb/debug-cli.szita.log
wandb/
Temp/
Prospector/
log/
data/api-football/
data/prediction/
data/Create_data/data/
data/Create_data/data_files/
data/Create_data/mongo/
data/Create_data/models/
data/Create_data/PowerBI/
data/training_data.csv
data/training_data.xlsx
X_train.parquet
model_info.json
cumsum_away_api.xlsx
cumsum_home_api.xlsx
fixtures_with_stats.xlsx
fixtures_with_stats_old.xlsx
data/training_data_20250116.xlsx
data/Create_data/merge_data_prediction.pbix
data/Create_data/PowerBI_pbix/Old_files/api_data_merge.pbix
data/Create_data/PowerBI_pbix/Old_files/api_merge_data_final.pbix
data/Create_data/PowerBI_pbix/Old_files/api_prediction_data_final.pbix
data/Create_data/PowerBI_pbix/Old_files/api_training_data_final.pbix
data/Create_data/PowerBI_pbix/Old_files/merge_data_prediction.pbix
data/Create_data/PowerBI_pbix/Old_files/model_data_for_pred.pbix
data/Create_data/PowerBI_pbix/Old_files/model_data_for_training.pbix
data/Create_data/PowerBI_pbix/Old_files/new_training_data.pbix
data/Create_data/PowerBI_pbix/Old_files/training_data_final.pbix
model_global/soccer_draw_model_pycaret.pkl.pkl
soccer_draw_model_pycaret.pkl
logs.log
.cursorrules_old
data/Create_data/PowerBI_pbix/DAX_studio/api_football_prediction_final.dax
data/Create_data/PowerBI_pbix/DAX_studio/api_football_prediction_final.dax.evalAndLogTrace
data/Create_data/PowerBI_pbix/DAX_studio/api_football_prediction_final.dax.queryBuilder
data/Create_data/PowerBI_pbix/DAX_studio/api_football_prediction.dax
data/Create_data/PowerBI_pbix/DAX_studio/api_football_prediction.dax.queryBuilder
data/Create_data/PowerBI_pbix/DAX_studio/api_football_training_final.dax
data/Create_data/PowerBI_pbix/DAX_studio/api_football_training_final.dax.queryBuilder
data/Create_data/PowerBI_pbix/DAX_studio/api_football_training.dax
data/Create_data/PowerBI_pbix/DAX_studio/api_football_training.dax.queryBuilder
data/Create_data/PowerBI_pbix/DAX_studio/api_future_final.dax
data/Create_data/PowerBI_pbix/DAX_studio/api_future_final.dax.queryBuilder
data/Create_data/PowerBI_pbix/Old_files/api_prediction.pbit
data/Create_data/PowerBI_pbix/Old_files/api_training.pbit
data/Create_data/PowerBI_pbix/api_prediction/.pbixproj.json
data/Create_data/PowerBI_pbix/api_prediction/DiagramLayout.json
data/Create_data/PowerBI_pbix/api_prediction/ReportMetadata.json
data/Create_data/PowerBI_pbix/api_prediction/ReportSettings.json
data/Create_data/PowerBI_pbix/api_prediction/Version.txt
data/Create_data/PowerBI_pbix/api_prediction/Model/database.tmdl
data/Create_data/PowerBI_pbix/api_prediction/Model/model.tmdl
data/Create_data/PowerBI_pbix/api_prediction/Model/relationships.tmdl
data/Create_data/PowerBI_pbix/api_prediction/Model/cultures/hu-HU.tmdl
data/Create_data/PowerBI_pbix/api_prediction/Model/tables/DateTableTemplate_c75e1011-596b-4128-bcf9-82e142755fdc.tmdl
data/Create_data/PowerBI_pbix/api_prediction/Model/tables/LocalDateTable_2185e58f-d1a4-4301-9b65-9ff135397fc8.tmdl
data/Create_data/PowerBI_pbix/api_prediction/Model/tables/LocalDateTable_d54bdc34-7e5f-4239-a48e-11a8743d41c6.tmdl
data/Create_data/PowerBI_pbix/api_prediction/Model/tables/Model_data.tmdl
data/Create_data/PowerBI_pbix/api_prediction/Model/tables/Venues.tmdl
data/Create_data/PowerBI_pbix/api_prediction/Report/config.json
data/Create_data/PowerBI_pbix/api_prediction/Report/report.json
data/Create_data/PowerBI_pbix/api_prediction/Report/sections/000_1. oldal/config.json
data/Create_data/PowerBI_pbix/api_prediction/Report/sections/000_1. oldal/filters.json
data/Create_data/PowerBI_pbix/api_prediction/Report/sections/000_1. oldal/section.json
data/Create_data/PowerBI_pbix/api_prediction/Report/sections/000_1. oldal/visualContainers/00000_tableEx (3cdc4)/config.json
data/Create_data/PowerBI_pbix/api_prediction/Report/sections/000_1. oldal/visualContainers/00000_tableEx (3cdc4)/dataTransforms.json
data/Create_data/PowerBI_pbix/api_prediction/Report/sections/000_1. oldal/visualContainers/00000_tableEx (3cdc4)/filters.json
data/Create_data/PowerBI_pbix/api_prediction/Report/sections/000_1. oldal/visualContainers/00000_tableEx (3cdc4)/query.json
data/Create_data/PowerBI_pbix/api_prediction/Report/sections/000_1. oldal/visualContainers/00000_tableEx (3cdc4)/visualContainer.json
data/Create_data/PowerBI_pbix/api_prediction/Report/sections/000_1. oldal/visualContainers/01000_card (3a1db)/config.json
data/Create_data/PowerBI_pbix/api_prediction/Report/sections/000_1. oldal/visualContainers/01000_card (3a1db)/dataTransforms.json
data/Create_data/PowerBI_pbix/api_prediction/Report/sections/000_1. oldal/visualContainers/01000_card (3a1db)/filters.json
data/Create_data/PowerBI_pbix/api_prediction/Report/sections/000_1. oldal/visualContainers/01000_card (3a1db)/query.json
data/Create_data/PowerBI_pbix/api_prediction/Report/sections/000_1. oldal/visualContainers/01000_card (3a1db)/visualContainer.json
data/Create_data/PowerBI_pbix/api_prediction/StaticResources/SharedResources/BaseThemes/CY24SU10.json
data/archive/api_training_final_0127.xlsx
data/archive/api_training_final_0128.xlsx
data/archive/api_training_final_0129.xlsx
data/archive/api_training_final_0130.xlsx
data/archive/api_training_final_0131.xlsx
data/archive/api_training_final_to_solve.xlsx
data/api_data_training_final.xlsx
data/api_training_final_.xlsx
data/api_training_final másolata.xlsx
data/api_training_final.xlsx
data/archive/create_excels/feature_engineering_for_model.py
data/archive/create_excels/feature_engineering_for_predictions.py
data/archive/create_excels/merge_data_for_prediction.py
data/archive/pipeline/config_loader.py
data/archive/pipeline/data_loader.py
data/archive/pipeline/data_manager.py
data/archive/pipeline/data_pipeline_api_football.py
data/archive/pipeline/data_pipeline_prediction.py
data/archive/pipeline/data_preprocessor.py
data/archive/pipeline/data_processing.py
data/archive/pipeline/data_splitter.py
data/archive/pipeline/data_transformer.py
data/archive/pipeline/data_validator.py
data/archive/pipeline/input_validation.py
data/archive/pipeline/config/config.yaml
data/archive/pipeline/config/data_processing_config.yaml
data/archive/pipeline/config/experiment_config.yaml
data/archive/pipeline/config/feature_config.yaml
data/archive/pipeline/config/model_config.yaml
data/archive/pipeline/features/__init__.py
data/archive/pipeline/features/feature_engineering_api_football.py
data/archive/pipeline/features/feature_engineering_api.py
data/archive/pipeline/features/feature_engineering_base.py
data/archive/pipeline/models/away_poisson_model.joblib
data/archive/pipeline/models/home_poisson_model.joblib
data/archive/pipeline/models/poisson_scaler.joblib
data/archive/predictors/predict_ensemble_api.py
data/archive/predictors/predict_pycaret.py
data/archive/predictors/predict_xgboost_api.py
data/archive/scraping/__init__.py
data/archive/scraping/fbref_get_data.py
data/archive/scraping/fbref_scraper.py
data/archive/scraping/merge_odds.py
data/archive/scraping/odds_scraper.py
data/api_training_final.parquet
models/automl_ensemble_hypertuning/DeepLearning_1_AutoML_1_20250212_233541
models/automl_ensemble_hypertuning/DeepLearning_1_AutoML_1_20250212_234016
models/automl_ensemble_hypertuning/DeepLearning_1_AutoML_1_20250212_235057
models/automl_ensemble_hypertuning/DeepLearning_1_AutoML_1_20250212_235500
models/automl_ensemble_hypertuning/DeepLearning_1_AutoML_1_20250213_01926
models/automl_ensemble_hypertuning/DeepLearning_grid_1_AutoML_1_20250213_01926_model_1
models/automl_ensemble_hypertuning/DeepLearning_grid_1_AutoML_1_20250213_01926_model_2
models/automl_ensemble_hypertuning/DeepLearning_grid_1_AutoML_1_20250213_01926_model_3
models/automl_ensemble_hypertuning/DeepLearning_grid_1_AutoML_1_20250213_01926_model_4
models/automl_ensemble_hypertuning/DeepLearning_grid_1_AutoML_1_20250213_01926_model_5
models/automl_ensemble_hypertuning/DeepLearning_grid_1_AutoML_1_20250213_01926_model_6
models/automl_ensemble_hypertuning/DeepLearning_grid_1_AutoML_1_20250213_01926_model_7
models/automl_ensemble_hypertuning/DeepLearning_grid_1_AutoML_1_20250213_01926_model_8
models/automl_ensemble_hypertuning/DeepLearning_grid_2_AutoML_1_20250213_01926_model_1
models/automl_ensemble_hypertuning/DeepLearning_grid_2_AutoML_1_20250213_01926_model_2
models/automl_ensemble_hypertuning/DeepLearning_grid_2_AutoML_1_20250213_01926_model_3
models/automl_ensemble_hypertuning/DeepLearning_grid_2_AutoML_1_20250213_01926_model_4
models/automl_ensemble_hypertuning/DeepLearning_grid_2_AutoML_1_20250213_01926_model_5
models/automl_ensemble_hypertuning/DeepLearning_grid_2_AutoML_1_20250213_01926_model_6
models/automl_ensemble_hypertuning/DeepLearning_grid_2_AutoML_1_20250213_01926_model_7
models/automl_ensemble_hypertuning/DeepLearning_grid_2_AutoML_1_20250213_01926_model_8
models/automl_ensemble_hypertuning/DRF_1_AutoML_1_20250212_233541
models/automl_ensemble_hypertuning/DRF_1_AutoML_1_20250212_234016
models/automl_ensemble_hypertuning/DRF_1_AutoML_1_20250212_235057
models/automl_ensemble_hypertuning/DRF_1_AutoML_1_20250212_235500
models/automl_ensemble_hypertuning/DRF_1_AutoML_1_20250213_01926
models/automl_ensemble_hypertuning/GBM_1_AutoML_1_20250212_233541
models/automl_ensemble_hypertuning/GBM_1_AutoML_1_20250212_234016
models/automl_ensemble_hypertuning/GBM_1_AutoML_1_20250212_235057
models/automl_ensemble_hypertuning/GBM_1_AutoML_1_20250212_235500
models/automl_ensemble_hypertuning/GBM_1_AutoML_1_20250213_01926
models/automl_ensemble_hypertuning/GBM_2_AutoML_1_20250212_233541
models/automl_ensemble_hypertuning/GBM_2_AutoML_1_20250212_234016
models/automl_ensemble_hypertuning/GBM_2_AutoML_1_20250212_235057
models/automl_ensemble_hypertuning/GBM_2_AutoML_1_20250212_235500
models/automl_ensemble_hypertuning/GBM_2_AutoML_1_20250213_01926
models/automl_ensemble_hypertuning/GBM_3_AutoML_1_20250212_233541
models/automl_ensemble_hypertuning/GBM_3_AutoML_1_20250212_234016
models/automl_ensemble_hypertuning/GBM_3_AutoML_1_20250212_235057
models/automl_ensemble_hypertuning/GBM_3_AutoML_1_20250212_235500
models/automl_ensemble_hypertuning/GBM_3_AutoML_1_20250213_01926
models/automl_ensemble_hypertuning/GBM_4_AutoML_1_20250212_233541
models/automl_ensemble_hypertuning/GBM_4_AutoML_1_20250212_234016
models/automl_ensemble_hypertuning/GBM_4_AutoML_1_20250212_235057
models/automl_ensemble_hypertuning/GBM_4_AutoML_1_20250212_235500
models/automl_ensemble_hypertuning/GBM_4_AutoML_1_20250213_01926
models/automl_ensemble_hypertuning/GBM_5_AutoML_1_20250212_233541
models/automl_ensemble_hypertuning/GBM_5_AutoML_1_20250212_234016
models/automl_ensemble_hypertuning/GBM_5_AutoML_1_20250212_235057
models/automl_ensemble_hypertuning/GBM_5_AutoML_1_20250212_235500
models/automl_ensemble_hypertuning/GBM_5_AutoML_1_20250213_01926
models/automl_ensemble_hypertuning/GBM_grid_1_AutoML_1_20250212_233541_model_1
models/automl_ensemble_hypertuning/GBM_grid_1_AutoML_1_20250212_234016_model_1
models/automl_ensemble_hypertuning/GBM_grid_1_AutoML_1_20250212_235057_model_1
models/automl_ensemble_hypertuning/GBM_grid_1_AutoML_1_20250212_235500_model_1
models/automl_ensemble_hypertuning/GBM_grid_1_AutoML_1_20250213_01926_model_1
models/automl_ensemble_hypertuning/GBM_grid_1_AutoML_1_20250213_01926_model_2
models/automl_ensemble_hypertuning/GBM_grid_1_AutoML_1_20250213_01926_model_3
models/automl_ensemble_hypertuning/GBM_grid_1_AutoML_1_20250213_01926_model_4
models/automl_ensemble_hypertuning/GBM_grid_1_AutoML_1_20250213_01926_model_5
models/automl_ensemble_hypertuning/GBM_grid_1_AutoML_1_20250213_01926_model_6
models/automl_ensemble_hypertuning/GBM_grid_1_AutoML_1_20250213_01926_model_7
models/automl_ensemble_hypertuning/GBM_grid_1_AutoML_1_20250213_01926_model_8
models/automl_ensemble_hypertuning/GBM_grid_1_AutoML_1_20250213_01926_model_9
models/automl_ensemble_hypertuning/GBM_grid_1_AutoML_1_20250213_01926_model_10
models/automl_ensemble_hypertuning/GBM_grid_1_AutoML_1_20250213_01926_model_11
models/automl_ensemble_hypertuning/GBM_grid_1_AutoML_1_20250213_01926_model_12
models/automl_ensemble_hypertuning/GBM_grid_1_AutoML_1_20250213_01926_model_13
models/automl_ensemble_hypertuning/GBM_grid_1_AutoML_1_20250213_01926_model_14
models/automl_ensemble_hypertuning/GBM_grid_1_AutoML_1_20250213_01926_model_15
models/automl_ensemble_hypertuning/GBM_grid_1_AutoML_1_20250213_01926_model_16
models/automl_ensemble_hypertuning/GBM_grid_1_AutoML_1_20250213_01926_model_17
models/automl_ensemble_hypertuning/GLM_1_AutoML_1_20250212_231202
models/automl_ensemble_hypertuning/GLM_1_AutoML_1_20250212_231641
models/automl_ensemble_hypertuning/GLM_1_AutoML_1_20250212_232332
models/automl_ensemble_hypertuning/GLM_1_AutoML_1_20250212_232935
models/automl_ensemble_hypertuning/GLM_1_AutoML_1_20250212_233541
models/automl_ensemble_hypertuning/GLM_1_AutoML_1_20250212_234016
models/automl_ensemble_hypertuning/GLM_1_AutoML_1_20250212_235057
models/automl_ensemble_hypertuning/GLM_1_AutoML_1_20250212_235500
models/automl_ensemble_hypertuning/GLM_1_AutoML_1_20250213_01926
models/automl_ensemble_hypertuning/StackedEnsemble_AllModels_1_AutoML_1_20250212_233541
models/automl_ensemble_hypertuning/StackedEnsemble_AllModels_1_AutoML_1_20250212_234016
models/automl_ensemble_hypertuning/StackedEnsemble_AllModels_1_AutoML_1_20250212_235057
models/automl_ensemble_hypertuning/StackedEnsemble_AllModels_1_AutoML_1_20250212_235500
models/automl_ensemble_hypertuning/StackedEnsemble_BestOfFamily_1_AutoML_1_20250212_233541
models/automl_ensemble_hypertuning/StackedEnsemble_BestOfFamily_1_AutoML_1_20250212_234016
models/automl_ensemble_hypertuning/StackedEnsemble_BestOfFamily_1_AutoML_1_20250212_235057
models/automl_ensemble_hypertuning/StackedEnsemble_BestOfFamily_1_AutoML_1_20250212_235500
models/automl_ensemble_hypertuning/XRT_1_AutoML_1_20250212_233541
models/automl_ensemble_hypertuning/XRT_1_AutoML_1_20250212_234016
models/automl_ensemble_hypertuning/XRT_1_AutoML_1_20250212_235057
models/automl_ensemble_hypertuning/XRT_1_AutoML_1_20250212_235500
models/automl_ensemble_hypertuning/XRT_1_AutoML_1_20250213_01926
h2o/h2o/h2o.jar
h2o/h2o/R/h2o_3.46.0.6.tar.gz
h2o/h2o/R/h2o_client_3.46.0.6.tar.gz
h2o/h2o/R/README.txt
h2o/h2o/bindings/java/h2o-bindings-3.46.0.zip
h2o/h2o/python/h2o_client-3.46.0.6-py2.py3-none-any.whl
h2o/h2o/python/h2o-3.46.0.6-py2.py3-none-any.whl
h2o/h2o/python/README.txt
=2.0.1
=
.env
.ariana/
.ariana.json
.vault_secret_key
.traces/
